html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(3, 82, 19);
}

#poker-container {
    display: grid;
    place-items: center;
    height: 100vh; /* Use viewport height */
}

#poker-canvas {
    /* Set maximum dimensions for scaling */
    max-width: calc(100vw - 14px); /* 100% of viewport width minus 10px for the border */
    max-height: calc(100vh - 14px); /* 100% of viewport height minus 10px for the border */

    /* Background Styling */
    background-color: rgb(69, 188, 90);

    /* Prevent overflow */
    overflow: hidden;

    /* Maintain aspect ratio */
    aspect-ratio: 16 / 9;

    /* Include border in dimensions */
    box-sizing: border-box;

    /* Border Style */
    border: 7px solid rgb(5, 56, 14);
}
