html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(3, 82, 19);
}

#poker-container { 
    display: grid;
    place-items: center;
    height: 100vh; /* Use viewport height */
    border: 1px solid red;
}

#poker-canvas {
    position: relative;
    /* Set maximum dimensions for scaling */
    max-width: calc(100vw - 14px); /* 100% of viewport width minus 10px for the border */
    max-height: calc(100vh - 14px); /* 100% of viewport height minus 10px for the border */

    /* Background Styling */
    background-color: rgb(11, 125, 32);

    /* Prevent overflow */
    overflow: hidden;

    /* Maintain aspect ratio */
    aspect-ratio: 16 / 9;

    /* Include border in dimensions */
    box-sizing: border-box;

    /* Border Style */
    border: 7px solid rgb(5, 56, 14);
}

#slider-container {
    width: 30%;
    height: 10%;
    display: flex;
    place-items: center;
    border: 2px solid blue;
}

/* Bet Slider Styles */
#betting-slider {
    -webkit-appearance: none; /* Remove default styles */
    appearance: none;
    width: 100%;
    height: 10px; 
    background: rgb(39, 176, 39); 
    border-radius: 3px;
    border: 3px solid rgb(24, 82, 24);
}

/* Styles for the slider thumb */
#betting-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styles */
    appearance: none;
    width: 15px; 
    height: 20px; 
    background: rgb(25, 122, 42);
    border: 2px solid rgb(24, 82, 24);
    border-radius: 50%; 
    cursor: pointer;
}

/* Betting Button Styles */
#confirm-bet {
    background-color: rgb(39, 176, 39);
    border: 3px solid rgb(24, 82, 24);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#confirm-bet:hover {
    background-color: rgb(63, 203, 63);
    transition-duration: 0.6s;
}
#confirm-bet:active {
    background-color: rgb(74, 236, 74);
    transition-duration: 0s;
}

/* Fold Button Styles */
#fold-button {
    background-color: rgb(39, 176, 39);
    border: 3px solid rgb(24, 82, 24);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#fold-button:hover {
    background-color: rgb(63, 203, 63);
    transition-duration: 0.6s;
}
#fold-button:active {
    background-color: rgb(74, 236, 74);
    transition-duration: 0s;
}